/* Basic Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --color-bg: #f7fcf9;
  --color-text: #2e614f;
  --color-header: #4b816e;
  --color-menu: #2e614f;
  --color-link: #7fb8a4;
  --color-hover: #a1e2d0;
  --color-divider: #cfe3d9;
  --color-footer: #2e614f;

  --font-main: 'Inconsolata', monospace;
  --font-heading: 'Playfair Display', serif;
}

html {
	scroll-behavior: smooth;
	font-family: var(--font-main);
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	line-height: 1.8;
	font-size: 1.0rem;
	text-align: justify;
}

p {
	text-align: justify;
	hyphens: auto;
	word-break: break-word;
}

/* Header Styles */
h1, h2, h3, h4 {
	scroll-margin-top: 85px;
	font-family: var(--font-heading);
	color: var(--color-header);
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

h1 a, h2 a, h3 a, h4 a {
	text-decoration: none;
	color: inherit;
	position: relative;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
	text-decoration: none;
}


/* Hero Section */
.hero {
	padding: 4rem 2rem;
	text-align: center;
}

.hero h1 {
	margin: 0 auto 1.5 rem;
	font-size: clamp(3rem, 8vw, 5rem);
	white-space: nowrap;
}


/* Buttons */
.buttons {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	overflow: hidden;
	max-height: 5rem;
	font-size: 1.2rem;
	transition: max-height 0.5s ease;
}

.buttons a {
	display: inline-flex;
	align-items: center;
	padding: 0.3rem 1.2rem;
	color: var(--color-menu);
	transition: color 0.3s ease;
	white-space: nowrap;
}

.buttons a:hover {
	color: var(--color-menu);
	text-decoration: none;
}
.buttons a:hover span {
	text-decoration: underline;
}

.buttons i {
	margin-right: 0.8em;
}

.divider {
	color: var(--color-divider);
	font-size: 1.2rem;
	margin: 0 0.5rem;
}


/* Button Reordering */
@media (max-width: 700px) {
	.buttons {
		flex-direction: column;
		align-items: center;
		max-height: 100vh;
	}
	.buttons a {
		width: 100%;
		max-width: 300px;
		text-align: left;
		justify-content: flex-start;
	}
	.divider {
		display: none;
	}
}


/* Sticky Menu Bar */
.menu-bar {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--color-bg);
	text-align: center;
	padding: 0.5rem 0;
	transition: all 0.3s ease;
}

.menu-bar::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-divider);
	transform: scaleX(0.8);
	transform-origin: center;
	transition: transform 0.3s ease;
}

.menu-bar.is-sticky {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.menu-bar.is-sticky::after {
	transform: scaleX(1);
}

#sticky-trigger {
	height: 1px;
}


/* Sections */
section {
	padding: 4rem 2rem;
	max-width: 800px;
	margin: auto;
	scroll-margin-top: 50px;
}

section h2 {
	font-size: 2.5rem;
	margin-bottom: 0.5em;
}
section h3 {
	font-size: 1.8rem;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
section h4 {
	font-size: 1.4rem;
	margin-top: 1em;
	margin-bottom: 0.5em;
}


/* Parallax */
.parallax {
	background-image: url('slov.jpg');
	min-height: 000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Footer */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
	background-color: var(--color-footer);
	color: var(--color-bg);
}


/* Hyperlinks */
a {
	color: var(--color-link);
	text-decoration: none;
}
a:hover {
	color: var(--color-hover);
	cursor: pointer;
	text-decoration: underline;
}


/* Content Grid */
.content-grid {
	display: grid;
	grid-template-columns: repeat(2, 450px);
	justify-content: center;
	column-gap: 4rem;
	row-gap: 0rem;
	max-width: 100%;
	margin: 0 auto;
	padding: 2rem;
}

.column {
	/*border: 1px solid red;*/
}

.full-span-column {
	grid-column: 1 / -1;
	/*border: 1px solid blue;*/
}

.header-with-bar {
	display: flex;
	align-items: center;
	gap: 1em;
}

.header-with-bar h3 {
	margin: 0;
	white-space: nowrap;
}

@media (max-width: 950px) {
	.content-grid {
		grid-template-columns: 1fr;
		justify-items: center;
		max-width: 510px;
	}

	.full-span-column {
		grid-column: auto;
		width: 100%;
	}
}


/* Citation style */
.citation {
	margin-left: 3em;
	text-indent: -3em;
	text-align: start;
}


/* Horizontal Bars */
.bar-thick, .bar-thin {
	width: 100%;
	background-color: var(--color-divider);
}

.bar-thick {
	height: 2px;
}

.bar-thin {
	height: 1px;
}